/* company page */

h1,
h2 {
    text-transform: uppercase;
    font-weight: bold;
}

#company-header {
    background: linear-gradient(to bottom, #E76900 0%, #051c55 100%);
    height: auto;
    padding-top: 5%;
    margin: 0;
}

#company-header li {
    box-sizing: border-box;
    font-size: 1.5rem;
    padding: 2% 0% 2% 5%;
}

#company-header a {
    color: white;
    text-transform: capitalize;
    font-weight: normal;
}

#company-header a:hover,
#company-header .active {
    font-weight: bold;
}

li .active {
    padding: 5% 25% 5% 3%;
}


/* profile section */

#profile {
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
    display: flex;
}

#profile>div:nth-child(1) {
    border: 1px solid;
    border-bottom-right-radius: 30%;
    height: 300px;
    margin: auto;
    text-align: center;
    color: #fff;
    background-color: #E76900;
}

#profile>div:nth-child(1)>h5 {
    text-align: left;
    margin: 5% 0% 5% 4%;
}

#profile>div:nth-child(1)>h5>i {
    margin-right: 8%;
}

#profile>div:nth-child(2) {
    border: 1px solid;
    border-radius: 5%;
    margin-left: 2%;
    padding: 5% 1%;
    text-align: center;
}

#profile>div:nth-child(2)>form {
    text-align: left;
    margin: 2% 3% 3% 1%;
}


/* parking officer section */

#parking-officer {
    display: none;
    height: 800px;
}

#parking-officer h2 {
    background-color: #0a1b46;
    color: white;
    padding: 3% 0% 3% 5%;
    margin: 0%;
}

#parking-officer #option {
    margin: 0;
    background-color: #061335;
    padding: 1% 0% 1% 0%;
    margin-bottom: 2%;
}

#parking-officer #add-btn {
    background-color: #cc088b;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

#parking-officer #header {
    padding-bottom: 1%;
    border-bottom: 2px solid;
    text-align: center;
}

#parking-officer .list-inline {
    border-bottom: 1px solid;
    padding-bottom: 1%;
    margin-bottom: 0px;
    text-align: center;
}

#parking-officer .list-item {
    padding: 1% 0%;
    margin: 0;
}

#parking-officer .list-item li {
    border-right: 5px solid rgb(8, 104, 13);
}

#parking-officer .list-item li:nth-child(1) {
    border-right: 5px solid red;
}

#pop-up {
    position: fixed;
    top: -1%;
    width: 100%;
    height: 100%;
    display: none;
    padding: 0% 1% 1% 1%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.4);
}

#pop-up .far {
    position: relative;
    left: 80%;
    top: 3%;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 0;
}

.form-container {
    position: relative;
    left: 20%;
    /* top: 0; */
    background-color: #fefefe;
    width: 40%;
    border: 1px solid none;
    border-radius: 5%;
    padding: 2% 3%;
}

.addScroll {
    overflow-y: auto;
    height: 550px;
}

#parking-officer ul>li>input {
    width: 20px;
    height: 20px;
}

#account ul>li>input {
    width: 20px;
    height: 20px;
}
#account {
    display: none;
    height: 800px;
}

#account h2 {
    background-color: #0a1b46;
    color: white;
    padding: 3% 0% 3% 5%;
    margin: 0%;
}
#account #option {
    margin: 0;
    background-color: #061335;
    padding: 1% 0% 1% 0%;
    margin-bottom: 2%;
}
#account #header {
    padding-bottom: 1%;
    border-bottom: 2px solid;
    text-align: center;
}
/* Responsive */

@media(max-width:1200px) {
    h1,
    h2 {
        font-size: 1.2rem;
    }
    #profile>div:nth-child(1) {
        height: 300px;
    }
    #profile>div:nth-child(1)>h5 {
        margin: 3% 0% 5% 1%;
        font-size: 1rem;
    }
    #profile>div:nth-child(1)>h5>i {
        margin-right: 2%;
    }
    #profile>div:nth-child(2) {
        margin-right: 0%;
    }
}

@media(max-width:768) {
    #company-header {
        font-size: 1rem;
    }
    h1,
    h2 {
        font-size: 1.2rem;
    }
    #profile>div:nth-child(1) {
        height: 300px;
    }
    #profile>div:nth-child(1)>h5 {
        text-align: justify;
        margin: 0% 0% 2% 1%;
        font-size: 1rem;
    }
    #profile>div:nth-child(1)>h5>i {
        margin-right: 2%;
    }
    #profile>div:nth-child(2) {
        border-radius: 5%;
        margin-right: 0%;
    }
   
}

@media (max-width: 576px) {
    h1,
    h2 {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    #company-header {
        height: fit-content;
        padding: 2% 0% 2% 5%;
        background: linear-gradient(to right, #E76900 0%, #051c55 100%);
    }
    #company-header a {
        margin-bottom: 0%;
        font-size: 14px;
        line-height: 1.7;
    }
    li .active {
        padding: 5%;
        margin: 0;
        background-color: rgb(57, 125, 228);
    }
    /* profile section responsive */
    #profile {
        height: auto;
        margin-bottom: 5%;
    }
    #profile>div:nth-child(1) {
        height: 200px;
    }
    #profile>div:nth-child(1)>h5 {
        text-align: justify;
        margin: 0% 0% 2% 1%;
        font-size: 1rem;
        /* font-size: 1rem; */
    }
    #profile>div:nth-child(1)>h5>i {
        margin-right: 5%;
    }
    #profile>div:nth-child(2) {
        border: 1px solid;
        border-radius: 5%;
        margin-left: 5%;
        padding: 5% 1%;
        text-align: center;
    }
    #profile>div:nth-child(2)>form {
        text-align: left;
        margin: 0;
    }
    #parking-officer {
        display: none;
        height: 400px;
    }
    #parking-officer h2 {
        background-color: #0a1b46;
        color: white;
        padding: 3% 0% 3% 4%;
        margin: 0%;
    }
    #parking-officer #option {
        margin: 0;
        background-color: #061335;
        padding: 1% 0% 1% 0%;
        margin-bottom: 1%;
    }
    #parking-officer #add-btn {
        background-color: #cc088b;
        color: white;
        font-size: 0.5rem;
        font-weight: bold;
    }
    #parking-officer #header {
        padding-bottom: 1%;
        border-bottom: 2px solid;
        text-align: center;
        font-size: 0.7rem;
    }
    #parking-officer .list-inline {
        border-bottom: 1px solid;
        padding-bottom: 1%;
        text-align: center;
        font-size: 0.7rem;
    }
    #parking-officer .list-inline li {
        overflow-x: scroll;
    }
    #parking-officer .list-item {
        padding: 1% 1%;
        margin: 0;
    }
    #parking-officer .list-item li {
        border-right: 2px solid yellow;
        padding: 0px, 10px;
        text-align: left;
    }
    #parking-officer .list-item li:nth-child(1) {
        border-right: 2px solid red;
    }
    #pop-up {
        position: fixed;
        top: -1%;
        width: fit-content;
        height: 100%;
        display: none;
        padding: 0% 1% 1% 1%;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.4);
    }
    #pop-up .far {
        position: relative;
        left: 90%;
        top: 3%;
        padding: 0;
        margin-top: 3px;
        margin-bottom: 0;
    }
    .form-container {
        position: relative;
        left: 10%;
        /* top: 0; */
        background-color: #fefefe;
        width: 80%;
        border: 1px solid none;
        border-radius: 5%;
        padding: 2% 3%;
    }
    .addScroll {
        overflow-y: auto;
        height: 550px;
    }
    #parking-officer ul>li>input {
        width: 20px;
        height: 20px;
    }
    #account{
        height: 400px;
    }
}
/* Validation */
.alert-validate::before {
    content: attr(data-validate);
    position: inherit;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
  
    font-family: 'Poppins', sans-serif;;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: center;
  
    visibility: hidden;
    opacity: 0;
  
    transition: opacity 0.4s;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }