/* company page */
h1,h2{
    text-transform: uppercase;
    font-weight: bold;
}
#company-header{
    background: linear-gradient(to bottom,#E76900 0%, #051c55 100%);
    height: auto;
    padding-top: 5%;
    margin: 0;
   
  }
  
#tickets{
    margin-bottom: 8px;
}  
#company-header li{
    box-sizing: border-box;
    font-size: 24px;
}
#company-header a{
    color: white;
    text-transform: capitalize;
    font-weight: bold;
}
  
#company-header a:hover{
    font-weight: normal;

}
  
li .active {
    padding: 5% 25% 5% 3%;
    background-color: rgb(57, 125, 228);
}
  
  
/* Active_tickets section */
#Active_tickets{
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
}
#Active_tickets>div:nth-child(1){
    border: 1px solid;
    border-bottom-right-radius: 30%;
    height: 300px;
    margin: auto;
    text-align: center;
    color: #fff;
    background-color:#E76900;
}
#Active_tickets>div:nth-child(1)>h5{
    text-align: left;
    margin: 5% 0% 5% 4%;
}
#Active_tickets>div:nth-child(1)>h5>i{
    margin-right: 8%;
}
#Active_tickets>div:nth-child(2){
    border: 1px solid;
    border-radius: 5%;
    margin-left: 2%;
    padding: 5% 1%;
    text-align: center;
}


/* park section */
#park{
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;
    
}
#park>div:nth-child(1){
    border: 1px solid;
    border-bottom-right-radius: 30%;
    height: 300px;
    margin: auto;
    text-align: center;
    color: #fff;
    background-color:#E76900;
}
#park>div:nth-child(1)>h5{
    text-align: left;
    margin: 5% 0% 5% 4%;
}
#park>div:nth-child(1)>h5>i{
    margin-right: 8%;
}
#park>div:nth-child(2){
    border: 1px solid;
    border-radius: 5%;
    margin-left: 2%;
    padding: 5% 1%;
    text-align: center;
}

#Exit{
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
    margin-bottom: 5%;

}
#Exit>div:nth-child(1){
    border: 1px solid;
    border-bottom-right-radius: 30%;
    height: 300px;
    margin: auto;
    text-align: center;
    color: #fff;
    background-color:#E76900;
}
#Exit>div:nth-child(1)>h5{
    text-align: left;
    margin: 5% 0% 5% 4%;
}
#Exit>div:nth-child(1)>h5>i{
    margin-right: 8%;
}
#Exit>div:nth-child(2){
    border: 1px solid;
    border-radius: 5%;
    margin-left: 2%;
    padding: 5% 1%;
    text-align: center;
}
/* Responsive */

@media(max-width:1200px){
    h1,h2{
        font-size: 1.2rem;
    }
    #Active_tickets>div:nth-child(1){
        height: 300px;
    }
    #Active_tickets>div:nth-child(1)>h5{
        margin: 3% 0% 5% 1%;
        font-size: 1rem;
    }
    #Active_tickets>div:nth-child(1)>h5>i{
        margin-right: 2%;
    }
    #Active_tickets>div:nth-child(2){
        margin-right: 0%;
    }
    #park>div:nth-child(1){
        height: 300px;
    }
    #park>div:nth-child(1)>h5{
        margin: 3% 0% 5% 1%;
        font-size: 1rem;
    }
    #park>div:nth-child(1)>h5>i{
        margin-right: 2%;
    }
    #park>div:nth-child(2){
        margin-right: 0%;
    }
}
@media(max-width:768){
    #company-header{
        font-size: 1rem;
       
      }
    h1,h2{
        font-size: 1.2rem;
    }
    
    #Active_tickets>div:nth-child(1){
     
        height: 300px;
 
    }
    #Active_tickets>div:nth-child(1)>h5{
        text-align: justify;
        margin:0% 0% 2% 1%;
        font-size: 1rem;
     
    }
    #Active_tickets>div:nth-child(1)>h5>i{
        margin-right: 2%;
    }
    #Active_tickets>div:nth-child(2){
    
        border-radius: 5%;
       
        margin-right: 0%;
       
    }
    #park>div:nth-child(1){
     
        height: 300px;
 
    }
    #park>div:nth-child(1)>h5{
        text-align: justify;
        margin:0% 0% 2% 1%;
        font-size: 1rem;
     
    }
    #park>div:nth-child(1)>h5>i{
        margin-right: 2%;
    }
    #park>div:nth-child(2){
    
        border-radius: 5%;
       
        margin-right: 0%;
       
    }
}
@media (max-width: 576px){
    h1,h2{
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    #company-header{
        height: fit-content;
        padding:2% 0% 2% 5%;
        background: linear-gradient(to right,#E76900 0%, #051c55 100%);
    }
    #company-header a{
        margin-bottom: 0%;
        font-size: 14px;
        line-height: 1.7;
    }
    li .active {
        padding: 5%;
        margin: 0;
        background-color: rgb(57, 125, 228);
    }

    /* Active_tickets section responsive */
    #Active_tickets{

        height: auto;
        margin-bottom: 5%;
    }
    #Active_tickets>div:nth-child(1){
   
        height: 200px;
     
    }
    #Active_tickets>div:nth-child(1)>h5{
        text-align: justify;
        margin:0% 0% 2% 1%;
        font-size: 1rem;
        /* font-size: 1rem; */
    }
    #Active_tickets>div:nth-child(1)>h5>i{
        margin-right: 5%;
    }
    #Active_tickets>div:nth-child(2){
        border: 1px solid;
        border-radius: 5%;
        margin-left: 5%;
        padding: 5% 1%;
        text-align: center;
    }
    #Active_tickets>div:nth-child(2)>form{
        text-align: left;
        margin: 0 ;
    }


    #park{
 
        
        height: 400px;
      
    }
    #Exit{
      
        height: 400px;
       
    }

}