* {
    margin: auto;
}

.page-wrapper {
    background-image: linear-gradient(#051C55, #E76900);
    width: 100%;
}

#content-wrapper {
    /* height: auto; */
    margin: 0;
    padding: 0;
}
#content-wrapper>div:nth-child(1){
    border: 1px solid;
    border-bottom-right-radius: 30%;
    height: 300px;
    margin: auto;
    text-align: center;
    color: #fff;
    background-color:#E76900;
}
#content-wrapper>div:nth-child(1)>h5{
    text-align: left;
    margin: 5% 0% 5% 4%;
}
#content-wrapper>div:nth-child(1)>h5>i{
    margin-right: 8%;
}
#content-wrapper>div:nth-child(2){
    border: 1px solid;
    border-radius: 5%;
    margin-left: 2%;
    padding: 5% 1%;
    text-align: center;
}

#myMap {
    width: 100%;
    height: 80vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.map-info {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.getdir {
    width: 60%;
    text-align: end;
    padding: 2rem;
}
.written_content {
    display: flex;
    justify-content: space-between;
    border: 0.001rem solid #aaaaaa;
    border-right: 0;
    border-left: 0;
}

.nearby_collections {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.singleButton {
    width: 15rem;
}

.parkButton:hover {
    cursor: pointer;
}


.nearby_collections, .park_content {
    text-align: center;
    list-style: none;
    padding: 2rem;
    display: flex;

}

.display {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    background-color: white;
    overflow-y: auto;
    border-radius: 3%;

}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255); 
}
/* ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.4); 
} */



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.modal-content .content {
    display: block;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    margin-left: 95%;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.park_content, .ticket_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4rem;
    font-size: 1.2rem;
}



